body{
    margin: 0;
    padding: 0;
    background:black;
}

fieldset{
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: white;
    border-radius: 15px;
    padding: 40px;
}

input{
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid white;
    text-align: center;
    color: solid black;
}

p{
    font-weight: bolder;
    font-family: Arial;
    text-align: center;
}

button{
    height: 30px;
    width: 150px;
    background: orangered;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: auto;
    
}

